{% extends 'base.html.twig' %}
 {% block stylesheets %}
         {{ parent() }}
         {{ encore_entry_link_tags('show') }}
     {% endblock %}



{%  block body %}
{#{{ model_roweru }}#}
    <form action="{{ path('app_repair_new') }}" method="POST">
        <div class="vote-arrows vote-arrows-alt flex-fill pt-2" style="min-width: 90px;">
            <p>Model roweru: <input type="text" name="bike-model" /></p>
            <p>Nazwa naprawy: <input type="text" name="name" /></p>
            <p><input type="submit" /></p>
        </div>
    </form>



{# przykladowy komentarz #}
Ilość napraw: {{  repair_list|length }}


{% for repair in repair_list %}
    <li>
        <a href="{{ path('app_repair', {id: repair.id}) }}">
            <div>Nazwa naprawy: {{ repair.name }}</div>
            <div>Model roweru: {{ repair.bikemodel }}</div>
            <div>Ukończono naprawę:
                    {% if repair.completed %} tak {% else %} nie {% endif %}
            </div>
        </a>
    </li>
{% endfor %}
{% endblock %}