{% extends 'base.html.twig' %}
 {% block stylesheets %}
         {{ parent() }}
         {{ encore_entry_link_tags('show') }}
     {% endblock %}



{%  block body %}
{#{{ model_roweru }}#}

{# przykladowy komentarz #}
Ilość napraw: {{  repair_list|length }}


{% for repair in repair_list %}
    <li>
        <a href="{{ path('app_repair', {id: repair.id}) }}">
            <div>Nazwa naprawy: {{ repair.name }}</div>
            <div>Model roweru: {{ repair.bikemodel }}</div>
            <div>Ukończono naprawę:
                    {% if repair.completed %} tak {% else %} nie {% endif %}
            </div>
        </a>
    </li>
{% endfor %}
{% endblock %}