{% extends 'base.html.twig' %}
 {% block stylesheets %}
         {{ parent() }}
         {{ encore_entry_link_tags('show') }}
     {% endblock %}



{%  block body %}
{#{{ model_roweru }}#}

{# przykladowy komentarz #}
Ilość modeli: {{  model_list|length }}


{% for model in model_list %}
    <li>{{ model }}</li>
{% endfor %}
{% endblock %}