<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bike Service{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {%  block header %}
        <nav class="navigation">
            <ul>
                <li><a href="{{ path('app_homepage') }}">Strona główna</a></li>
                <li><a href="{{ path('app_repairs_list') }}">Naprawy</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('app_account')}}">Ustawienia konta</a></li>
                    <li><a href="{{ path('app_logout') }}">Wyloguj</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Zaloguj</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endblock %}

    {% block body %}{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
